//Brand colors
$brand-blue: #0073ce;
$light-blue: #00a5f0;
$green-light: #00d7d7;
$brand-yellow: #ffc800; 
$brand-yellow-secondary: #855B35;

//Grey Scale
$grey-600: #33303E;
$grey-500: #4E4B59;
$grey-400: #5F5C6B;
$grey-300: #7A7786;
$grey-200: #C6C5CE;
$grey-100: #F1F0F5;
